/* GENERAL */
body {
    margin: 0;
    font-family: "Gabarito", sans-serif;
    background: url("Smart\ \(Wallpaper\ Desktop\).png");
}

.page { display: none; }
.page.active { display: block; }

/* LOGIN */
.login-box {
    width: 360px;
    margin: 70px auto;
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 35px rgba(0,0,0,0.15);
    text-align: center;
}

.logo-title { font-size: 32px; font-weight: 700; color: #003060; }
.Q { color: #3A4DFF; }

.subtitle { margin-top: -10px; margin-bottom: 20px; font-size: 18px; }

.social-row {
    display: flex; justify-content: center; align-items: center; gap: 20px;
}

.social-btn { cursor: pointer; transition: 0.2s; }
.social-btn:hover { transform: scale(1.1); }

.icon { width: 40px; }

.section-label { margin-top: 20px; font-weight: 600; }

label { display: block; text-align: left; margin-top: 12px; margin-left: 10px; }

input {
    width: 93%; padding: 10px; background: #eee;
    border: 2px solid #ddd; border-radius: 14px;
    margin-bottom: 10px;
}

.login-btn {
    width: 95%; padding: 12px; background: #2E8FFF;
    color: white; font-weight: 600; border: none;
    border-radius: 14px; cursor: pointer; transition: .2s;
}
.login-btn:hover { background: #106DE0; }

/* ROLE */
.role-title {
    text-align: center; font-size: 26px; margin-top: 40px;
}

.role-card {
    width: 82%; background: white; margin: 20px auto;
    border-radius: 20px; padding: 20px;
    display: flex; justify-content: space-between;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    cursor: pointer; transition: .2s;
}
.role-card:hover { transform: scale(1.03); }

.role-card.blue { border: 4px solid #2E8BFF; }
.role-card.pink { border: 4px solid #D632FF; }

.role-left { text-align: center; }
.role-header { font-weight: 700; margin-bottom: 5px; }
.role-icon { width: 75px; }

.role-text { width: 45%; }

/* MENU + DASHBOARD */
.topbar {
    display: flex; justify-content: space-between;
    padding: 15px; background: white; box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.menu-btn { font-size: 28px; cursor: pointer; }

.dropdown {
    width: 150px; background: white;
    position: absolute; right: 10px; top: 60px;
    padding: 10px; border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}
.hidden { display: none; }

.dropdown p {
    padding: 8px 0; margin: 0; cursor: pointer;
}
.dropdown p:hover { color: #2E8BFF; }

/* DASHBOARD CONTENT */
.usaha-content, .pelanggan-content {
    padding: 20px;
}

/* Pelanggan cards */
.card-option {
    background: white; padding: 20px; margin: 20px;
    border-radius: 20px; font-size: 18px; cursor:pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

/* BOTTOM NAV */
.bottom-nav {
    position: fixed; bottom: 0; left: 0; width: 100%;
    display: flex; justify-content: space-around;
    background: white; padding: 10px 0;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.1);
}

.nav-item { text-align: center; cursor: pointer; }
.nav-item span { font-size: 12px; display: block; }
.nav-item.active { color: #2E8BFF; }
